*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: #333333;
    /**/ /*background-color: #FFFFEB;*/
}


/*estilização do meu do site*/
#menu{
    display: inline-flex;
    font-family: Arial, Helvetica, sans-serif;
}
.logo-site{
    width: 50px;
    height: 40px;
    margin-top: 25px;
    margin-left: 100px;
}
.menu-site{
    margin-top: 40px;
    margin-left: 680px;
    font-size: 12pt;
}
a{
    text-decoration: none;
}
li{
    display: inline;
    padding: 15px;
}



/*estilização do cabeçalho do site*/
#cabecalho{
    display: inline-flex;
}
.pequena-descricao{
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 200px;
    margin-left: 90px;
}
h1{
    font-size: 55pt;
}
h3{
    font-size: 20pt;
    font-style: italic;
}
.foto-principal{
    width: 600px;
    height: 750px;
    margin-top: 20px;
    margin-left: 250px;
}
.imagem-rede-social{
    width: 30px;
    height: 30px;
    padding: 10px;
}



/*estilização sobre mim (descrição)*/
#descricao{
    display: inline-flex;
    font-size: 14pt;
}
.quem-sou{
    margin-top: 110px;
    margin-left: 150px;
    padding: 50px;
}
.sobre{
    margin-top: 85px;
    margin-left: 60px;
    position: absolute;
    font-size: 40pt;
}
.icon-quem-sou{
    width: 300px;
    height: 300px;
}
.texto-quem-sou{
    width: 600px;
    margin-top: 110px;
    margin-left: 80px;
}
input{
    position: absolute;
    margin-top: 40px;
    width: 200px;
    height: 60px;
    border-radius: 10px;
    background-color: #239dd1ff;
    color: white;
    font-size: 20px;
    border: none;
}