*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: #333333;
    background-color: #f7f7f7;
    /**/ /*background-color: #FFFFEB;*/
}


/*estilização do menu do site*/
#menu{
    display: inline-flex;
    font-size: 14pt;
}
.logo-site{
    width: 190px;
    height: 170px;
    margin-top: -5px;
    margin-left: 100px;
}
.menu-site{
    margin-top: 60px;
    margin-left: 600px;
}
a{
    text-decoration: none;
}
a:hover{
    color: #fbaf00ff;
}
li{
    display: inline;
    padding: 15px;
}



/*estilização do cabeçalho do site*/
#cabecalho{
    display: inline-flex;
}
.pequena-descricao{
    margin-top: 200px;
    margin-left: 90px;
}
h1{
    font-size: 55pt;
}
h3{
    font-size: 20pt;
    font-style: italic;
}
.foto-principal{
    width: 600px;
    height: 750px;
    margin-top: 20px;
    margin-left: 250px;
}
.imagem-rede-social{
    width: 35px;
    height: 35px;
    padding: 10px;
}



/*estilização sobre mim (descrição)*/
#descricao{
    display: inline-flex;
    font-size: 14pt;
}
.quem-sou{
    margin-top: 110px;
    margin-left: 120px;
    padding: 30px;
}
.sobre{
    margin-top: 110px;
    margin-left: 100px;
    position: absolute;
    font-size: 45pt;
    background: none;
}
.icon-quem-sou{
    width: 400px;
    height: 400px;
    margin-top: -50px;
}
.texto-quem-sou{
    width: 600px;
    margin-top: 110px;
    margin-left: 80px;
}
input.botao{
    position: absolute;
    margin-top: 40px;
    width: 200px;
    height: 60px;
    border-radius: 10px;
    background-color: #fbaf00ff;
    color: #fff;
    font-size: 20px;
    border: none;
}



/*Estilização do formúlario do site*/
h1.projeto-pergunta{
    font-size: 35pt;
    text-align: center;
    padding: 40px;
}
h2.contrate-chamada{
    font-size: 30pt;
    text-align: center;
    padding: 20px;
}



.formulario-de-contato{
    display: inline-flex;
}
h1.infor, h4.me-siga{
    font-size: 20pt;
    padding: 10px;
}
.icon-informacao{
    width: 35px;
    height: 35px;
    padding: 3px;
}
li{
    font-size: 14pt;
}



/*estilização para o botão voltar ao topo*/
html{
    scroll-behavior: smooth;
}
#btnTop{
    position: fixed;
    bottom: 20px;
    right: 20px;
    height: 45px;
    width: 45px;
    background: #fbaf00ff;
    border: none;
    border-radius: 2vh;
    display: none;
}
.btnTop{
    position: fixed;
    bottom: 23px;
    right: 23.5px;
    height: 37px;
    width: 37px;
}