*{
    padding: 0;
    margin: 0;
}
body{
    color: #333;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14pt;
} /**//**/

.logo-site{
    width: 500px;
    height: 60px;
    margin-top: 5%;
    margin-left: 33%;
}



/*estilização do menu de navegação do site*/
div#menu-bar{
    display: inline-flex;
    margin-left: 27%;
    margin-top: 5%;
}


div.redes-sociais{
    margin-left: 55%;
    position: absolute;
}
img.network{
    width: 33px;
    height: 33px;
}


div.menu-de-navegacao{
    margin-left: 10%;
    position: absolute;
}
li{
    display: inline;
    padding: 0px 10px 0px;
}
a{
    text-decoration: none;
    color: #333;
}


div.caixa-de-busca{
    box-sizing: border-box;
    margin-left: -18%;
    position: absolute;
    background: #fbaf00ff;
    border-radius: 20px;
}
.busca_btn{
    color: #333;
    float: right;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    background: #333;
    text-align: center;
    line-height: 40px;
    transform: all 0.8s ease;
}
.busca_txt{
    border: none;
    background: none;
    outline: none;
    float: right;
    padding: 0;
    font-size: 14pt;
    transition: 0.4s;
    line-height: 40px;
    width: 0;
    color: #333;
}
.caixa-de-busca:hover > .busca_txt{
    width: 240px;
    padding: 0 6px;
}
.caixa-de-busca:hover > .busca_btn{
    background: #333;
}
::placeholder{
    color:#333;
}



/*
aqui se inicia a estilização do corpo do blog, o que aparentemente vai dar um pouco de trabalho
*/
div.varios-containers{
    display: inline-flex;
    margin: 15% 0 0 -20%;
    position: absolute;
}



div.postagem-mais-recentes{
    display: inline-flex;
    margin: 25% 0 0 7%;
}